<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime location tracker</title>

    <!-- leaflet css  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body>
    <div id="map"></div>
</body>
</html>

<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Map initialization 
    var map = L.map('map').setView([14.0860746, 100.608406], 6);

    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    function updateMap() {
        
        let marker = null; 
        let circle =null;6
    // Fetch the latest coordinates from the Django API
    fetch('/api/get-latest-coordinates/')
        .then(response => {
            if (!response.ok) {
                throw new Error("Failed to fetch data from the server");
            }
            return response.json();
        })
        .then(data => {
            var lat = data.latitude;
            var long = data.longitude;
            var accuracy = data.accuracy;

            // Remove previous marker and circle if they exist
            if (marker) {
                map.removeLayer(marker);
            }
            if (circle) {
                map.removeLayer(circle);
            }

            // Add marker and circle to the map
            marker = L.marker([lat, long]);
            circle = L.circle([lat, long], { radius: accuracy });

            var featureGroup = L.featureGroup([marker, circle]).addTo(map);

            // Adjust the map view to fit the marker and circle
            map.fitBounds(featureGroup.getBounds());

            console.log("Updated coordinates: Lat: " + lat + ", Long: " + long + ", Accuracy: " + accuracy);
        })
        .catch(error => {
            console.error("Error fetching coordinates:", error);
        });
}

// Update the map every 5 seconds
setInterval(updateMap, 5000);

// Initial call to load the map with data
updateMap();


</script>